<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {        
    var data = google.visualization.arrayToDataTable(<%= raw @data.to_json %>);

    var options = {
      title: 'Status of all Todos',
      is3D: true,
      pieSliceText: 'label',             
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>
    
<div class="panel panel-default">
  <div class="panel-heading">
    Todo Status
  </div>
  <div class="panel-body">
    <% if (@data[1][1] == 0) && (@data[2][1] == 0) && (@data[3][1] == 0) %>
      <p class="no-data">
        Currently, there is no data to display graph        
      </p>
    <% else %>
      <div id="piechart_3d" style="width: 900px; height: 500px;"></div> 
    <% end %>
  </div>
</div>
<div class="panel panel-default project-status">
  <div class="panel-heading">
    Project Status Details
  </div>
  <div class="panel-body">
    <div class="container" style="width: 100% !important;">    
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <% @accordian_data.each_with_index do |data,index| %>
          <div class="panel panel-default demo">
            <div class="panel-heading" role="tab" id="<%= index %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= data[0].split(' ').join() %>" aria-expanded="true" aria-controls="<%= data[0] %>">
                    <i class="move-right fa fa-plus"></i>
                    <%= data[0] %> Todos
                </a>
              </h4>
            </div>
            <div id="<%= data[0].split(' ').join() %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= index %>">
              <div class="panel-body">
                <% if data[1].empty? %>
                  <p class="no-data">
                    Currently, there is no data to display.                      
                  </p>
                <% else %>
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th class="center">Project</th>
                        <th class="center">Task</th>
                        <th class="center">Status</th>
                        <th class="center">Developer</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% data[1].each do |todo| %>
                        <tr>
                          <td class="center"><%= todo.project.name %></td>
                          <td class="center"><%= todo.task %></td>
                          <td class="center"><%= todo.status %></td>                
                          <td class="center"><%= todo.developer.first_name %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>          
      </div><!-- panel-group -->        
    </div><!-- container -->
  </div>
</div>

<style type="text/css">
 
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .demo > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .move-right {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
</style>