<%= nested_form_for(@project, :remote => true) do |f| %>
  <%= f.fields_for :todos do |task_form| %>
    <%= task_form.hidden_field :project_id, :value => @project.id %>
    <div class="row" style="margin-left: 10px;">
      <div class="form-group col-md-4">
        <%= task_form.text_field :task, :class =>"form-control task", :title=> "Task Name", :style => "width:100%", :required => true %>
      </div>
      <div class="form-group col-md-4">      
        <%= task_form.select :developer_id, options_for_select(@project.users.map{|d| [d.name, d.id]}, :selected=>task_form.object.developer_id),{:prompt => "Please Select"}, {:class=>"chosen-select-single form-control", :id=>"developerId", :style => "width:100%"}  %>
      </div>
      <div class="form-group col-md-4">
        <%= task_form.link_to_remove "<i class='fa fa-times'></i>".html_safe,:class =>"btn btn-danger btn-sm remove", :title => "Remove this task" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <%= f.link_to_add "Add a ToDo Task", :todos,:class =>"btn btn-info btn-sm", :style=>"margin-left: 40px;" %>      
  </div>
<%# end %>
  
  <div class="actions form-group col-md-offset-4">
    <%#= f.submit "Save", :class => "btn btn-primary btn-sm" %>
    <%= f.button "Save", :class=>"btn btn-primary btn-sm", :data => {disable_with: "<i class='fa fa-spinner fa-spin'></i>".html_safe } do%>
     <i class='fa fa-floppy-o'></i><%= @project.new_record? ? ' Save' : ' Update' %>
    <% end %>
  </div>
  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
<% end %>

<script type="text/javascript">
  $(document).on('nested:fieldAdded', function(event){
    
    // this field was just inserted into your form
    var field = event.field;

    $(field).css("margin-left","7px")
    // it's a jQuery object already! Now you can find date input
    var developerField = field.find('#developerId');    
    var removeField = field.find(".remove");

    var taskField = field.find('.task');
    // and activate datepicker on it
    developerField.chosen();    

    var developerId_chosen_field = field.find("#developerId_chosen")

    taskField.css("margin-left","8px")
    taskField.css("width","98%")
    developerId_chosen_field.css("width","305px")
    removeField.css("margin-left","-6px")

  })

  $(document).on('nested:fieldRemoved', function(event){
    var field = event.field;
    var taskField = field.find('.task');
    taskField.attr("required",false)
  })
</script>
