<div class="panel panel-default">
  <div class="panel-heading add-edit-project">
    Add New Project
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Project List
  </div>
  <div class="panel-body">
    <% if @projects.empty? %>
      <p style="text-align: center;">
        <span style="color: red;font-size: 20px;">
          Currently, there are no projects
        </span>
      </p>
    <% else %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Description</th>
            <th style="text-align: center;">Client</th>
            <th colspan="3" style="text-align: center;">Action</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.description %></td>
              <td><%= project.client %></td>
              <td style="text-align: center;"><%#= link_to "<i class='fa fa-eye'></i> View".html_safe, project, :title => "View", :class=>"btn btn-info btn-sm" %>
              <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_project_path(project), :title => "Edit", :class=>"btn btn-primary btn-sm", :remote => true %>
              <%= link_to "<i class='fa fa-trash'></i> Delete".html_safe, project, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Delete", :class=>"btn btn-danger btn-sm", :remote => true %>
              <% if !project.users.empty? %>
              <%= link_to "<i class='fa fa-list'></i> Create ToDo".html_safe, edit_project_path(project), :title => "Edit", :class=>"btn btn-primary btn-sm", :target=> "_blank" %>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>    
  </div>
</div>


