<div class="panel panel-default">
  <div class="panel-heading add-edit-project">
    Add New Project
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Project List
  </div>
  <div class="panel-body">
    <% if @projects.empty? %>
      <p class="no-data">        
        Currently, there are no projects        
      </p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="center">Name</th>
              <th class="center">Description</th>
              <th class="center">Client</th>
              <th colspan="3" class="center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td class="center" nowrap><%= project.name %></td>
                <td class="center"><%= project.description %></td>
                <td class="center" nowrap><%= project.client %></td>
                <td class="center" nowrap>
                <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_project_path(project), :title => "Edit", :class=>"btn btn-primary btn-sm", :remote => true %>
                <%= link_to "<i class='fa fa-trash'></i> Delete".html_safe, "#", :onclick => "confirm('project',#{project.id},this)", :title => "Delete", :class=>"btn btn-danger btn-sm", :remote => true %>
                <% if !project.users.empty? %>
                <%= link_to "<i class='fa fa-list'></i> Manage ToDo".html_safe, edit_project_path(project), :title => "Edit", :class=>"btn btn-primary btn-sm", :target=> "_blank" %>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>    
  </div>
</div>


