<!DOCTYPE html>
<html>
	<head>
	  <title>ProMobiToDoApp</title>
	  <%= stylesheet_link_tag    'admin', media: 'all' %>
	  <%= javascript_include_tag 'admin' %>	  
	  <%= csrf_meta_tags %>	  
	  <script type="text/javascript">
		$(function() {
		  $(".spinner").fadeOut(100, function() {
		    $(".content").show();        
		  });
		});
	  </script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">			
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="https://promobitech.com/" target="_blank">
						ProMobi Technologies Pvt. Ltd.
					</a>
					<%= render partial: "shared/flash_messages", flash: flash %>
				</div>
							
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
					<ul class="nav navbar-nav navbar-right">						
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<%= current_user.name %> (<%= current_user.type %>)
								<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li class=""><a href="<%= edit_user_registration_path %>">Change Password</a></li>
								<li class="divider"></li>
								<li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container-fluid main-container">
			<div class="col-md-2 sidebar">
				<ul class="nav nav-pills nav-stacked">					
					<li class="<%= 'active' if (controller?('developers') && action?('todo_list')) %>"><%= link_to "Developers Todo List", todo_list_developers_path  %></li>
					<li class="<%= 'active' if (controller?('projects') && (action?('index') || (action?('edit')))) %>"><%= link_to "Manage Projects", projects_path,"data-no-turbolink" => true  %></li>
					<li class="<%= 'active' if (controller?('developers') && action?('index')) %>""><a href="<%= developers_path %>">Manage Developers</a></li>
					<li class="<%= 'active' if (controller?('analytics') && action?('index')) %>"><a href="<%= analytics_path %>">Analytics</a></li>					
				</ul>
			</div>
			<div class="spinner" style="width:100px;height: 100px;position: fixed;top: 50%;left: 50%;z-index: 99999999999;">
        <i class= "fa fa-circle-o-notch fa-spin fa-4x" style="color: #228Ae6;"></i>
      </div>
			<div class="col-md-10 content">				
				<%= yield %>	            
			</div>			
		</div>
	</body>
</html>
